extends layout 

block content 
  .formContent
    a(class="backButton" href="/profile/" + currentUser._id + "/friends") Back
    h1.formHeader Look up a friend 
    h3= errorMsg
    form(action="/profile/" + currentUser._id + "/friends/search-friend" method="POST")
      label.addFriendLabel(for="first_name") First name 
      input.addFriendInput(name="first_name" placeholder="first name" type="text")
      label.addFriendLabel(for="last_name") Last name 
      input.addFriendInput(name="last_name" placeholder="last name" type="text")
      p.addFriendLabel 
        strong - OR -
      label.addFriendLabel(for="username") Email
      input.addFriendInput(name="username" placeholder="email" type="email")
      button.button Submit

    if foundUsers && foundUsers.length > 0
      h3.formHeader Here's who we found:
      form(action="/profile/" + currentUser._id + "/friends/add-friend" method="POST")
        each foundUser in foundUsers
          .foundUserContainer 
            input.deleteCheckbox.pinkCheckbox(name="potentialFriendId" value=foundUser._id type="checkbox")
            label.addFriendLabel(for="potentialFriendId") #{foundUser.fullname} 
        button.button Add friend(s)  