extends layout 

block content 
  a(class="backButton" href="/profile/" + currentUser._id + "/friends") Back
  h1 Look up a friend 
  h3= errorMsg
  form(action="/profile/" + currentUser._id + "/friends/search-friend" method="POST")
    label(for="first_name") First name 
    input(name="first_name" placeholder="first name" type="text")
    label(for="last_name") Last name 
    input(name="last_name" placeholder="last name" type="text")
    h3 OR
    label(for="username") Email
    input(name="username" placeholder="email" type="email")
    button.button Submit

  if foundUsers && foundUsers.length > 0
    form(action="/profile/" + currentUser._id + "/friends/add-friend" method="POST")
      each foundUser in foundUsers 
        label(for="potentialFriendId") #{foundUser.fullname}
        input(name="potentialFriendId" value=foundUser._id type="checkbox") 
      button Add friend  