extends layout 

block content 
  a(href="/profile") Back
  h1 Edit Your Bio
  form(action="" method="POST")  
    label(for="bio") Bio 
    textarea(name="bio", cols="80", rows="10") 
      if profile 
        | #{profile.bio}
    button Submit
      


