extends layout 

block content
  .editBioFormContainer
    a(class="backButton editBio" href="/profile/" + profile.user + "/posts") Back
    h1.formHeader Edit Your Bio
    form(action="" method="POST")
      textarea(name="bio", cols="30", rows="8") 
        if profile 
          | #{profile.bio}
      button.button Submit
      


