doctype html
html
  head
    title Coucou

    meta(name="viewport" content="user-scalable = yes")

    //- Favicon
    link(rel="shortcut icon" type="image/png" href="/images/macaw.png")

    //- Google Fonts
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=KoHo:wght@200;400;500;600;700;800&family=Pattaya:wght@200;400;500;600;700;800&display=swap" rel="stylesheet")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a.brand(href="/")
        img(id="coucou-macaw" src="/images/macaw.png", alt="Coucou logo")
        h1.logo Coucou
      nav 
        if currentUser
          a.navLink(href="/profile") Profile 
          a.navLink(href="/feed") Feed
          a.navLink(href="/log-out") Log Out  
        else 
          a.navLink(href="/") Log In
          a.navLink(href="/sign-up") Sign Up
    block content
    
    .flaticon
      p Icons made by 
        a(href="https://www.freepik.com" title="Freepik") Freepik 
        | and 
        a(href="https://www.flaticon.com/authors/becris" title="Becris") Becris 
        | from 
        a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com