:root {
  --macaw-pink: rgb(211, 50, 112);
  --light-macaw-pink: rgba(211, 50, 112, 0.527);
  --teal: #77ffff;
  --light-teal: #92fcfcab;
  --dark-teal: #1e4444;
}

html {
  font-size: 15px;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

body {
  font: 1rem "KoHo", sans-serif;
  letter-spacing: 0.01rem;
  margin: 0;
  width: 100%;
}

a {
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

p, label {
  font-size: 1.25rem;
}

form > * {
  display: block;
  margin: 10px 0;
}

.formHeader {
  font-size: 4rem;
  margin: 1rem 0;
}

.deleteCheckbox {
  -webkit-appearance:none;
  width: 2rem;
  height: 2rem;
  background:white;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.deleteCheckbox:checked:after {
  content: "âŒ";
}

textarea {
  font-size: 2rem;
}

.button {
  background-color: var(--macaw-pink);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Koho", sans-serif;
  font-size: 2.5rem !important;
  font-weight: 500 !important;
  margin: 2rem 0;
  text-align: center;
  padding: 1rem;
  width: max-content;
  height: max-content;
}

.backButton {
  border: solid 0.3rem var(--macaw-pink);
  border-radius: 0.5rem;
  color: var(--macaw-pink);
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0.75rem;
  width: max-content;
}

.editIcon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5rem;
}

/* Form modal styling */
.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
}

.modalHeader {
  font-size: 3.5rem;
  font-weight: 700;
}

.modalContainer input {
  font-family: "KoHo", sans-serif;
  font-size: 2.75rem;
  margin: 1.5rem 0;
}

.modalContent {
  background-color: var(--teal);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; 
}

/********************** Login & Sign-Up **********************/

.loginContainer {
  padding: 0.8rem 2rem;
}

.welcomeMsg {
  font-size: 3rem;
  margin: 1rem 0;
}

.loginForm > * {
  font-size: 2.5rem;
  margin: 1.75rem 0;
}

.loginForm input {
  border: solid 0.25rem var(--macaw-pink);
  border-radius: 0.75rem;
  padding: 0.5rem 0.25rem;
}

.loginButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.oauthHeader{
  font-size: 3rem;
}

.oauthLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.oauthLogo {
  width: 3rem;
  height: 3rem;
}

/********************** Header **********************/
header {
  background-color: var(--teal);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1rem 0.5rem;
  position: relative;
  z-index: 10;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.logo {
  color: var(--macaw-pink);
  display: inline;
  font: 3.75rem "Pattaya", cursive; 
  margin: 0 15px;
  position: relative;
  top: 5px;
}

#coucou-macaw {
  display: inline;
  width: 50px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 10px;
}

nav > * {
  color: var(--macaw-pink);
  font-size: 1.25rem;
}

.navLink {
  font-size: 2.3rem;
  position: relative;
  bottom: 0.25rem;
}

/********************** Profile **********************/
.profileContent {
  display: block;
  margin: auto;
  width: 100%;
}

  /************ Profile Header *******************/

  .profileHeader {
    background-color: var(--light-teal);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2rem 1.5rem 1rem;
    width: 100%;
  }

  .profileNameAndBio {
    position: relative;
    margin-left: 2rem;
  }

  .userFullName {
    font-size: 4.5rem;
    font-weight: 500;
    margin: 0;
  }

  .profilePicContainer {
    background-color: white;
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    overflow: hidden;
  }

  .profilePic {
    min-width: 22rem;
    min-height: 22rem;
    max-width: 22rem;
    max-height: 22rem;
    object-fit: cover;
  }

  .profileBioContainer {
    display: flex;
  }

  .profileBio {
    font-size: 2.5rem;
  }

  .profileHeaderEditButtons {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
  }

  .editProfile {
    font-size: 1.9rem;
    display: block;
    margin: 0.75rem 0;
  }

  /************ Profile Tab Headers ******************/
  .tabHeaders {
    background-color: var(--light-teal);
    padding: 0.8rem 1.5rem;
  }

  .tabHeader {
    font-size: 2.3rem;
    margin: 0 0.6rem;
  }

  .clickedTab {
    color: var(--macaw-pink);
    border-bottom: solid 0.3rem var(--macaw-pink);
  }

  .tabContent {
    font-size: 2.3rem;
    padding: 2rem;
  }

  .tabEditButtonContainer {
    margin-top: 1rem;
    text-align: right;
  }

  .tabEditButton {
    display: block;
    font-size: 2rem;
    margin: 0.75rem 0;
  }

  .noContentMessage  {
    font-size: 2.3rem;
  }

  /************ Profile Posts Tab ******************/

  .postCard {
    background-color: var(--light-macaw-pink);
    border-radius: 15px 50px 50px;
    padding: 0.75rem 2rem;
    margin: 1rem 0;
  }

  .postText {
    font-size: 2.35rem;
    margin: 1rem 0;
  }

  .postDate {
    font-size: 1.85rem;
  }

  /************ Profile Friends Tab ******************/

  .friendLink {
    display: block;
    font-size: 2.5rem;
  }

  .friendCard {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
  }

  /************ Profile Photos Tab ******************/
  .profileMedia {
    display: block;
    margin: 0;
  }

  .profileMediaPic {
    display: inline-block;
    width: 100px;
    height: auto;
  }

  .wavy-border.profileMediaTop {
    position: relative;
    bottom:-4px;
  }

/************* EDIT BIO FORM *******************/

.editBioFormContainer {
  padding: 3rem;
}

.backButton.editBio {
  font-size: 2.5rem;
}

/************* FOOTER *******************/
.flaticon {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}